button {
    display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #6c7f92;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-left: 10px;
}

button:hover {background-color: #583169}

button:active {
  background-color: #9aa77b;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

input {
    height: 3rem ;
    width: 30%;
    margin: 10px;
    padding: 12px 20px;
   
    border: 2px solid rgb(121, 97, 52);
    border-radius: 15px;
    background-color:whitesmoke;
    font-size: 18px;
  
}

ul {
  list-style-type: none;
  margin-top: 50px;
}